* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background-color: black;
  height: 100vh;
  width: 100vw;
}

header {
  height: 65px;
  width: 100vw;
}

main > section:first-child {
  height: calc(100vh - 65px);
  width: 100vw;
  display: flex;
  overflow: hidden;
}

nav {
  height: 65px;
  background-color: black;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  top: 0;
}

.logo {
  margin-left: 15px;
  cursor: pointer;
}

.home {
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 50%;
  background-color: #1f1f1f;
  cursor: pointer;
}

.input {
  height: 100%;
  width: 53%;
  gap: 10px;
  /* padding-right: 20px; */
}

.search-contain {
  width: 55%;
  background-color: #1f1f1f;
  border: 2px solid transparent; /* no border by default */
  border-radius: 25px;
  transition: border 0.3s ease;
}

/* Keep border also when input inside is focused */
.search-contain:focus-within {
  border: 2px solid white;
}

.searchbar {
  width: 90%;
  height: 50px;
  background-color: inherit;
  border: none; /* remove border from input */
  color: white;
  font-size: 1.1rem;
  outline: none; /* remove default outline */
}

.searchbar::placeholder {
  color: #b3b3b3;
  opacity: 1;
  font-size: 1.1rem;
}

.search {
  height: 50px;
  width: 50px;
}

.random {
  padding-right: 15px;
  border-left: 1px solid #b3b3b3;
  padding-left: 15px;
}

.nav-links {
  gap: 15px;
}

.nav-links a,
.nav-links {
  font-size: 1.2rem;
  color: #b3b3b3;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.2s ease;
}
.nav-links a:hover {
  color: white;
  font-size: 1.25rem;
  cursor: pointer;
}

.install:hover {
  color: white;
  font-size: 1.07rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.install1 {
  gap: 10px;
  padding-left: 5px;
}

.install {
  font-size: 1rem;
}

.login {
  height: 45px;
  width: 100px;
  border-radius: 25px;
  font-size: 1.2rem;
  font-weight: bold;
}

.login:hover {
  transform: scale(1.05);
  transition: all 0.2s ease;
  cursor: pointer;
}

.border {
  border: 1px solid black;
}

.left {
  width: 28vw;
  min-height: calc(100vh - 65px);
  background-color: #0f0f0f;
  margin-top: 2px;
  border-radius: 5px;
  margin-left: 0.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lib {
  justify-content: space-between;
  height: 7%;
  width: 100%;
  padding-inline: 6.7%;
}

.library {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bolder;
}

.plus {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.plus:hover {
  background-color: #1f1f1f;
  cursor: pointer;
  transition: all 0.2s ease;
}

.box {
  width: 96%;
  height: 18%;
  background-color: #1f1f1f;
  border-radius: 10px;
  margin-top: 24px;
  padding: 20px 18px;
}

.title {
  font-size: 1.1rem;
  color: #ffffff;
  font-weight: bold;
}

.desc {
  font-size: 1rem;
  color: #ffffff;
  font-weight: normal;
  padding: 10px 0;
}

.box-btn {
  padding: 6px 14px;
  font-size: 1rem;
  font-weight: bolder;
  border-radius: 50px;
  text-align: center;
  margin-top: 5px;
}

.box-btn:hover {
  transform: scale(1.05);
  cursor: pointer;
  transition: transform 0.2s ease;
}

.info-section {
  width: 96%;
  padding: 20px 12px;
  height: 45%;
  /* background-color: #1f1f1f; */
  margin-top: 24px;
  padding-top: 25%;
  flex-direction: column;
  /* gap: 9px; */
}

.important-links span {
  font-size: 0.75rem;
  color: #b3b3b3;
  padding: 10px 8px;
  cursor: pointer;
}

.important-links {
  padding: 5px 0;
}

.cookies {
  font-size: 0.95rem;
  color: #ffffff;
  padding: 10px 8px;
}
.cookies:hover {
  text-decoration: underline;
  text-decoration-color: #ffffff;
  cursor: pointer;
}

.language {
  background-color: inherit;
  border: 1px solid #b3b3b3;
  padding: 4px 8px;
  font-weight: bold;
  width: 28%;
  border-radius: 25px;
  color: #ffffff;
  justify-content: space-around;
  font-size: 1.1rem;
  margin-top: 24px;
}

.language:hover {
  transform: scale(1.05);
  cursor: pointer;
  border: 1px solid white;
}

.right {
  width: 69.5vw;
  min-height: calc(100vh - 65px);
  max-height: fit-content;
  background: linear-gradient(to bottom, #1f1f1f, black);
  margin-top: 2px;
  border-radius: 5px;
  margin-left: 0.4vw;
  overflow-y: auto;
  /* background-color: yellow; */
}

.heading {
  width: 95%;
  margin: 8px auto;
  background-color: inherit;
  justify-content: space-between;
  padding: 10px 15px;
}

.heading h1 {
  color: #ffffff;
  font-size: 1.7rem;
}
.heading span {
  color: #b3b3b3;
  font-size: 1.05rem;
  font-weight: bold;
}
.heading > h1:hover {
  color: white;
  text-decoration: underline;
  text-decoration-color: white;
  cursor: pointer;
}
.heading > span:hover {
  text-decoration: underline;
  text-decoration-color: #b3b3b3;
  cursor: pointer;
}
.songs {
  width: 95%;
  height: auto;
  margin: 8px auto;
  background-color: transparent;
  overflow-x: scroll;
  scrollbar-width: none;
  gap: 2px;
  justify-content: space-around;
}
.card {
  height: 35vh;
  width: auto;
  flex-direction: column;
  padding: 2px 10px;
  position: relative;
  gap: 6px;
  border-radius: 4px;
}
.card:hover {
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #1f1f1f;

  .play-btn {
    right: 15px;
    bottom: 40%;
    transition: bottom 0.4s ease;
    opacity: 1.2;
  }

  .play-btn:hover {
    transform: scale(1.06);
    cursor: pointer;
    transition: transform 0.2s ease;
  }
}
.card img {
  height: 65%;
  border-radius: 5px;
}
.card h2 {
  color: #ffffff;
  font-size: 1.1rem;
  padding: 5px 0;
  font-weight: 400;
  text-align: left;
  width: 100%;
  overflow: hidden;
}
.card h2:hover {
  text-decoration: underline;
  text-decoration-color: #ffffff;
  text-decoration-thickness: 1.2px;
}
.card span {
  color: #b3b3b3;
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  width: 100%;
  overflow: hidden;
}
.card span:hover {
  text-decoration: underline;
  text-decoration-color: #b3b3b3;
  text-decoration-thickness: 1px;
}

.play-btn {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border: none;
  background-color: #1ed760;
  position: absolute;
  right: 15px;
  bottom: 28%;
  opacity: 0;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
}
.play-btn i {
  color: black;
  font-size: 1.25rem;
}

.separator {
  height: 0.5px;
  width: 95%;
  background-color: #282828;
  margin: 70px auto;
}

.footer-section {
  width: 100%;
  height: 22vh;
  justify-content: space-between;
  align-items: start;
  padding: 0 3%;
}
.footer-section h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: #ffffff;
}

.footer-section ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 9px;
  color: #b3b3b3;
  font-size: 1.1rem;
  font-weight: 520;
}

.footer-section ul li:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: #ffffff;
  color: #ffffff;
  cursor: pointer;
}
.social-svg {
  height: 42px;
  width: 42px;
  background-color: #1f1f1f;
  border-radius: 50%;
}

.svg-list {
  padding: 0;
  margin-left: 0;
  display: flex;
  gap: 12px;
  flex-direction: row;
}

.social-svg:hover {
  background-color: #333333;
  cursor: pointer;
  transition: all 0.2s ease;
}

.copyright {
  color: #b3b3b3;
  height: 70px;
  font-size: 1.05rem;
  font-weight: 530;
  text-align: left;
  margin-bottom: 40px;
  margin-top: -30px;
  padding: 0 3%;
}

.play-section {
  width: 100%;
  height: 70px;
  background: linear-gradient(to left, #4d31b1 10%, rgb(155, 19, 175) 80%);
  position: fixed;
  bottom: 0px;
  left: 0;
  border-top: 1px solid #282828;
  z-index: 10;
  display: flex;
  align-items: center;
  padding: 0 3%;
}

.playbar{
  width: 45%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.now-playing {
  color: #ffffff;
  width: 25%;
  text-align: justify;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 50px;
}

.now-playing h3 {
  font-size: 1.3rem;
  font-weight: 600;
}

.now-playing span {
  font-size: 1rem;
  color: #b3b3b3;
  font-weight: bold;
}

.playbar img {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.timestamp{
  width: 25%;
}

