.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.svg-size {
  width: 24px;
  height: 24px;
}

.svg-size-sm {
  width: 16.5px;
  height: 16.5px;
}

.card-img-round img {
  height: 65%;
  border-radius: 50%;
  object-fit: cover;  /* crop instead of stretching */
  display: block;     /* remove default inline spacing */
}

.mt-8{
  margin-top: 8px;
}

/* Custom scrollbar only for .right */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #111;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #444, #222);
  border-radius: 10px;
  border: 2px solid #111;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #666, #333);
}

/* Firefox support */
.right {
  scrollbar-width: thin;
  scrollbar-color: #444 #111;
}
